{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>NewBegin &mdash; Software Training</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
  </head>
  <body>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3" id="top">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="#">NewBegin</a></div>


          

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="#" class="nav-link active">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="#">AI-ML</a></li>
              <li class="has-children">
                <a href="{% url 'python_web' %}">Courses</a>
                <ul class="dropdown">
                  <li><a href="{% url 'python_web' %}">Python Web Development</a></li>
                  <li><a href="{% url 'java' %}">Java Web Development</a></li>
                  <li><a href="{%  url 'fullstack' %}">Full Stack Training</a></li>
                  <li><a href="{% url 'javapy' %]">Python, Java Training</a></li>
                  
                </ul>
              </li>
              <li><a href="#">Careers</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'signup' %}">Sign UP</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
          </nav>
          
          <div class="col-6 site-burger-menu d-block d-lg-none text-right">
            <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>
    </header>

    <!-- HOME -->
    <section class="home-section section-hero overlay slanted" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-8 text-center">
            <h1>Let's Begin new</h1>
            <div class="mx-auto w-75">
              <p>Join us - We will support you with options to choose your career</p>
            </div>
            <p class="mt-5"><a href="{% url 'contact' %}" class="btn btn-outline-white btn-md ">Get in touch</a></p>
          </div>
        </div>
      </div>
        
      <!-- VIDEO -->
      <div class="video-container">
        <video autoplay loop="true">
          <source type="video/mp4" src="videos/video.mp4">
        </video>
      </div>

      <a href="#" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>

    </section>
    
    <!-- ABOUT US -->
    <section class="site-section about-us-section" id="about-us-section">
      <div class="container">
        
        <div class="row mb-5 pt-0 site-section">
          <div class="col-md-6 align-self-center">
            <h3 class="section-title-sub text-primary">About Us</h3>
            <h2 class="section-title mb-4">Who we are</h2>

            <p>NewBegin promote training in IT, creating experts for emerging technologyy industries and specialist technology jobs.</p>
            <p>NewBegin ensures in making students understand not only basics of technology but also the best practices in respective domain</p>
            <p class="mt-4"><a href="#" class="spepcial_link">Read more about us</a></p>
          </div>
          <div class="col-md-5 ml-auto img-overlap">
            <div class="img-1"><img src="{% static 'images/newbegin_home1.jpg' %}" alt="Image" class="img-fluid img-shadow"></div>
            <div class="img-2"><img src="{% static 'images/newbegin_home2.jpg' %}" alt="Image" class="img-fluid img-shadow"></div>
          </div>
        </div>

      </div>
    </section>

    <!-- SERVICES -->
    <section class="site-section services-section bg-light block__62849" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h3 class="section-title-sub text-primary">Our</h3>
            <h2 class="section-title mb-3">Services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="#" class="block__16443 text-center d-block">
              <span class="custom-icon mx-auto"><span class="icon-line-tools d-block"></span></span>
              <h3>Trainings</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <span class="custom-icon mx-auto"><span class="icon-line-lightbulb d-block"></span></span>
              <h3>Web Apps</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>            

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <span class="custom-icon mx-auto"><span class="icon-line-laptop d-block"></span></span>
              <h3>Android & IOS Apps</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>            

          </div>
          
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <a href="#" class="btn btn-primary btn-md">View All Services</a>
          </div>
        </div>
      </div>
    </section>
    <section class="site-section services-section bg-light block__62849" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h3 class="section-title-sub text-primary">Our</h3>
            <h2 class="section-title mb-3" style="color: rgb(109, 7, 7);">Unique Training programs</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="#" class="block__16443 text-center d-block">
              
              <h3>Python Web Development</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              
              <h3>Full Stack Training</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>            

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              
              <h3>Python, Java, Sql (Combination)</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
            </a>            

          </div>
          
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <a href="#" class="btn btn-danger btn-md">More Programs</a>
          </div>
        </div>
      </div>
    </section>

    <!-- PORTFOLIO -->

 

    <footer class="site-footer slanted-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>NewBegin Products</h3>
            <ul class="list-unstyled">
              <li><a href="#">TrainedGrad's</a></li>
              <li><a href="#">Agriinvest</a></li>
              <li><a href="#">Self Storage</a></li>
              <li><a href="#">Local Shop</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Placements</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small class="block">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </small></p>
          </div>
        </div>
      </div>
    </footer>
  
  </div>

    <!-- SCRIPTS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/stickyfill.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>